.game-card {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  align-items: center;
}

.game-card img {
  width: 100px;
  height: 100px;
}
.winners {
  border-bottom: 1px solid black;
}
.losers {
  border-bottom: 1px solid black;
}

.winners .img-container {
  width: 100px;
  height: 100px;
}
.losers .img-container {
  width: 100px;
  height: 100px;
}

.game-number {
  margin: 0;
  text-align: center;
  padding-top: 5rem;
  font-size: 1rem;
}
.trash-can {
  align-self: center;
}
