.history {
  min-height: 100vh;
}

.score-container {
  margin: auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.game-cards {
  width: 80%;
  margin: auto;
}

.header-container p {
  font-size: 4rem;
  margin: 0;
}
.header-container h1 {
  display: block;
  position: unset;
}
.games-container {
  margin-bottom: 4rem;
  width: 100vw;
}
.games-container button {
  margin-top: 2rem;
}

.holder-of-the-header {
  position: sticky;
}

.holder-of-the-cards {
  min-height: 100vh;
}
