.compete {
  background-image: radial-gradient(
      circle,
      rgba(255, 224, 179, 0.855) 0%,
      rgba(240, 240, 237, 0.848) 85%
    ),
    url(/hamster-war.jpg);
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.compete main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.compete h1 {
  margin: 0;
}

#counter {
  font-size: 3rem;
  font-weight: 600;
}
.winner-container {
  width: 400px;
  height: 400px;
  margin: auto;
}
#trophy {
  position: absolute;
  top: 20%;
  right: 25%;
  width: 100px;
  height: 100px;
}

.compete .competing-hamster {
  margin-top: 2rem;
  height: 450px;
  width: 300px;
}
.compete .competing-hamster img {
  width: 200px;
  height: 200px;
}

.compete .cutest {
  margin-top: 2rem;
  height: 450px;
  border: none;
}
.winner-container .cutest .cutest-container div {
  width: 300px;
}
