nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  background-image: radial-gradient(
    circle,
    rgba(179, 131, 58, 0.5) 0%,
    rgba(224, 225, 216, 0.376) 85%
  );
  height: 4rem;
  font-weight: 600;
  font-size: 1.6rem;
  text-shadow: -4px 0px 9px rgba(104, 96, 94, 0.7);
}

nav a:visited {
  list-style: none;
  color: black;
}

nav a {
  text-decoration: none;
}

.link {
  color: black;
  opacity: 0.5;
}

.link:hover {
  opacity: 1;
}

.link-active {
  font-size: 2.3rem;
  font-weight: 700;
  transition: font-size 0.5s, font-weight 1s;
}
