.add-form {
  width: 50vw;
  height: 85vh;
  background-color: rgba(62, 58, 53, 0.951);
  margin-left: 25%;
  margin-right: 35%;
  margin-top: -13rem;
  position: fixed;
  z-index: 2;
  border-radius: 20px;
  padding: 1rem;
  overflow: scroll;
}

.add-hamster-blur {
  width: 100vw;
  height: 1000rem;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.618);
  backdrop-filter: blur(100px);
  z-index: 3;
  transition: background-color 0.5s, z-index 0.5s;
}

.floating-label {
  position: relative;
  z-index: -1;
  left: 0.1rem;
  top: 2.1rem;
  padding: 0.5rem;
}
.floating-label-change {
  position: relative;
  z-index: -1;
  left: 0rem;
  top: 0.5rem;
  padding: 0.5rem;
  opacity: 0.5;
  transition: top 1s, opacity 1s, left 1s;
}
.input-container input {
  all: unset;
}

.input-container input {
  margin: 0.3rem;
  width: 20rem;
  padding: 0.2rem;
  text-align: left;
  border-bottom: 1px solid black;
}

.input-container {
  width: 20rem;
  color: antiquewhite;
  text-align: left;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.compulsory {
  margin-top: 1.2rem;
}
.error-message p {
  margin: 0;
}
.error-message {
  position: relative;
  background-color: rgba(234, 228, 223, 0.46);
  border-radius: 10px;
  font-style: italic;
  width: 70%;
  padding: 0.2rem;
}

.ok {
  color: green;
}

.image-container img {
  width: 200px;
  height: 200px;
}
.image-container {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: -1.5rem;
  border-radius: 50%;
  overflow: hidden;
}

input[type="file"] {
  opacity: 0;
}
.close {
  position: relative;
  left: 23rem;
  width: fit-content;
  padding: 0.3rem;
  margin: 0;
  height: 20px;
  border-radius: 5px;
  background: linear-gradient(145deg, #928e8b, #706c69);
  box-shadow: 3px 3px 3px #232222, -3px -5px 5px #504a45;
  cursor: pointer;
  color: black;
}

.custom-file-upload-btn {
  width: fit-content;
  padding: 0.4rem;
  margin: auto;
  margin-top: 4rem;
  height: 20px;
  border-radius: 5px;
  background: linear-gradient(145deg, #928e8b, #706c69);
  box-shadow: 3px 3px 3px #232222, -3px -5px 5px #504a45;
  cursor: pointer;
  color: black;
}
.send {
  padding: 0.4rem;
  margin: auto;
  margin-top: 4rem;
  border-radius: 5px;
  background: linear-gradient(145deg, #928e8b, #706c69);
  box-shadow: 3px 3px 3px #232222, -3px -5px 5px #504a45;
  cursor: pointer;
  color: black;
}

.send:disabled {
  color: aliceblue;
  opacity: 0.3;
}
