.cutest-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cutest-container {
  background: radial-gradient(
    circle,
    rgba(164, 145, 88, 0.655) 0%,
    rgba(244, 245, 247, 0.9261905445772058) 100%
  );
  width: 300px;
  height: 400px;
  margin: auto;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.stats-container {
  display: flex;
  justify-content: space-around;
}

#trophy {
  position: absolute;
  right: 25rem;
  top: 16rem;
  border-radius: 0;
  box-shadow: none;
}
