.home {
  background-image: radial-gradient(
    circle,
    rgba(179, 130, 58, 0.748) 0%,
    rgba(224, 225, 216, 0.376) 85%
  );
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.home #trophy {
  display: none;
}

.home h1 {
  margin: 0;
  padding: 1rem;
}

.home p {
  margin: 0;
}
